/*
 *	Apply google Roboto font to all UI components
 */

.root {
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;

}

/*
.root , ScrollPane, VBox, HBox, HBox, Label{
    -fx-background-color: black;
    -fx-text-fill: #ffffff;
}
*/

.side-menu {
    -fx-padding: 20.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
    -fx-text-fill: #444;
}

.title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.radio-button-title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0 0.0 -20.0 0.0;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

/*******************************************************************************
 *                                                                             *
 * JFX Drawer                                                                  *
 *                                                                             *
 *****************************************************************************c

.jfx-drawer-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1)
}

.jfx-drawer-side-pane {
    -fx-background-color: WHITE;
}

/*******************************************************************************
 *                                                                             *
 * JFX Radio Button                                                            *
 *                                                                             *
 ******************************************************************************/

.jfx-radio-button .radio {
    -fx-stroke-width: 2.0px;
    -fx-fill: transparent;
}

.jfx-radio-button .dot {
    -fx-fill: #0F9D58;
}

.custom-jfx-radio-button {
    -fx-font-size: 16.0px;
}

.custom-jfx-radio-button .radio {
    -fx-stroke-width: 2.0px;
    -fx-fill: transparent;
}

.custom-jfx-radio-button-blue {
    -fx-text-fill: #5264AE;
    -jfx-selected-color: #5264AE;
    -jfx-unselected-color: #212121;
}

.custom-jfx-radio-button-red {
    -fx-text-fill: #f44336;
    -jfx-selected-color: #f44336;
    -jfx-unselected-color: #b71c1c;
}

.custom-jfx-radio-button-green {
    -fx-text-fill: #4caf50;
    -jfx-selected-color: #4caf50;
    -jfx-unselected-color: #1b5e20;
}


/*******************************************************************************
*                                                                              *
* JFX Button                                                                   *
*                                                                              *
*******************************************************************************/

.custom-jfx-button-raised .jfx-rippler {
    -jfx-rippler-fill: YELLOW;
}

.custom-jfx-button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14.0px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(102.0, 153.0, 102.0);
    -fx-pref-width: 200.0;
    -fx-text-fill: WHITE;
}

/*******************************************************************************
*                                                                              *
* JFX Check Box                                                                *
*                                                                              *
*******************************************************************************/

.jfx-check-box {
    -fx-font-weight: BOLD;
}

.custom-jfx-check-box {
    -jfx-checked-color: RED;
    -jfx-unchecked-color: BLACK;
}

.custom-jfx-check-box-all-colored {
    -jfx-checked-color: #5264AE;
    -jfx-unchecked-color: #5264AE;
    -fx-text-fill: #5264AE;
}

.custom-jfx-check-box-text-colored {
    -fx-text-fill: rgb(153.0, 0.0, 0.0);
}


/*******************************************************************************
*                                                                              *
* JFX Textfield                                                                *
*                                                                              *
*******************************************************************************/

.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -fx-background-color: transparent;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
    -fx-max-width: 300.0;
    -fx-pref-width: 300.0;
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
}

.jfx-text-area .viewport {
    -fx-background-color: #F4F4F4;
}


/*******************************************************************************
*                                                                              *
* JFX Toggle Button                                                            *
*                                                                              *
*******************************************************************************/

.jfx-toggle-button {
    -jfx-toggle-color: #4285F4;
}

/* Personalizzazione per il JFXToggleButton */
.custom-jfx-toggle-button {
    -jfx-toggle-color: #4cd864;      /* Colore quando è attivo (ON) */
    -jfx-untoggle-color: #ff0000;    /* Colore quando è inattivo (OFF) */
    -jfx-untoggle-line-color: #ffa19e;
    /* -jfx-toggle-line-color: black;    /* Colore della linea del toggle */

    -jfx-toggle-size: 30px;          /* Dimensione dell'ovale del toggle */
    -fx-pref-width: 100px;           /* Larghezza del pulsante */
    -fx-pref-height: 50px;           /* Altezza del pulsante */
}


/* Stile per il pulsante quando è disabilitato */
.custom-jfx-toggle-button:disabled {
    -jfx-toggle-color: #ccc;         /* Colore quando disabilitato e attivo */
    -jfx-untoggle-color: #ccc;       /* Colore quando disabilitato e inattivo */
}

.toggle-label {
    -fx-font-size: 14.0px;
}

.toggle-icon1 .icon {
    -fx-fill: #4285F4;
}

.toggle-icon1 {
    -fx-pref-width: 80px;
    -fx-background-radius: 80px;
    -fx-pref-height: 80px;
    -jfx-toggle-color: rgba(66.0, 133.0, 244.0, 0.29885056614875793);
    -jfx-untoggle-color: transparent;
}

.toggle-icon1 .jfx-rippler {
    -jfx-rippler-fill: rgba(66.0, 133.0, 244.0, 0.29885056614875793);
}

.toggle-icon2,
.toggle-icon3 {
    -fx-pref-width: 50px;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
}

.toggle-icon3 {
    -jfx-toggle-color: rgba(128, 128, 255, 0.2);
    -jfx-untoggle-color: transparent;
}

.toggle-icon2 .icon {
    -fx-fill: RED;
}

.toggle-icon2 .jfx-rippler {
    -jfx-rippler-fill: RED;
}

.toggle-icon3 .icon {
    -fx-fill: rgb(204.0, 204.0, 51.0);
}

.toggle-icon3 .jfx-rippler {
    -jfx-rippler-fill: #0F9D58;
}

/*******************************************************************************
*                                                                              *
* JFX Combo Box                                                                *
*                                                                              *
*******************************************************************************/

.combo-box-popup .list-view .jfx-list-cell .label,
.combo-box-popup .list-view .jfx-list-cell:filled:hover .label {
    -fx-text-fill: BLACK;
}

.combo-box-popup .list-view .jfx-list-cell .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:filled:hover .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:selected .custom-jfx-list-view-icon {
    -fx-fill: #5264AE;
}

.combo-box-popup .list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.combo-box-popup .list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.combo-box-popup .list-view .jfx-list-cell {
    -fx-background-insets: 0.0;
}

.combo-box-popup .list-view .jfx-list-cell:odd,
.combo-box-popup .list-view .jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.combo-box-popup .list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #5264AE;
}


/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

